{
  "openapi": "3.0.0",
  "info": {
    "title": "Goddard School Enrollment System API",
    "version": "1.0.0",
    "description": "Comprehensive API for the Goddard School Enrollment and Management System"
  },
  "servers": [
    {
      "url": "https://api.goddardschool.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "WebhookAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "webhook_secret"
      }
    },
    "schemas": {
      "School": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "settings": {
            "type": "object",
            "properties": {
              "timezone": {
                "type": "string"
              },
              "max_enrollment": {
                "type": "integer"
              },
              "age_groups": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["SuperAdmin", "Admin", "Teacher", "Parent"]
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "is_verified": {
            "type": "boolean"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Classroom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "age_group": {
            "type": "string",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "enrolled_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_name": {
            "type": "string"
          },
          "form_type": {
            "type": "string"
          },
          "fillout_form_id": {
            "type": "string",
            "nullable": true
          },
          "fillout_form_url": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "is_required": {
            "type": "boolean",
            "nullable": true
          },
          "display_order": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClassFormOverride": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "action": {
            "type": "string",
            "nullable": true
          },
          "is_required": {
            "type": "boolean",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StudentFormAssignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "assignment_source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_required": {
            "type": "boolean"
          },
          "assigned_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "student_form_assignment_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "fillout_submission_id": {
            "type": "string"
          },
          "form_data": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time"
          },
          "processed_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnrollmentChild": {
        "type": "object",
        "properties": {
          "child_id": {
            "type": "integer"
          },
          "child_first_name": {
            "type": "string"
          },
          "child_last_name": {
            "type": "string"
          },
          "class_name": {
            "type": "string"
          },
          "primary_email": {
            "type": "string"
          },
          "form_status": {
            "type": "string"
          },
          "forms": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "additional_parent_email": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "paths": {
    "/schools": {
      "post": {
        "tags": ["School Management"],
        "summary": "Create School",
        "description": "Create a new school (Protected - API Key)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "subdomain"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subdomain": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "timezone": {
                        "type": "string"
                      },
                      "max_enrollment": {
                        "type": "integer"
                      },
                      "age_groups": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "School created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "get": {
        "tags": ["School Management"],
        "summary": "Get All Schools",
        "description": "Get list of all schools (Public)",
        "responses": {
          "200": {
            "description": "List of schools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/School"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["School Management"],
        "summary": "Update School",
        "description": "Update school details (Protected - API Key Only)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "subdomain": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "School updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "400": {
            "description": "Invalid school_id"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "School not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/schools/{id}": {
      "delete": {
        "tags": ["School Management"],
        "summary": "Delete School",
        "description": "Delete a school (Protected - API Key Only)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "School deleted successfully"
          },
          "400": {
            "description": "Invalid school_id"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/users/invite": {
      "post": {
        "tags": ["User Management"],
        "summary": "User Invitation",
        "description": "Send user invitation (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "role", "school_id"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["Admin", "Teacher", "Parent"]
                  },
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation sent successfully"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/users/verify": {
      "post": {
        "tags": ["User Management"],
        "summary": "User Verification",
        "description": "Verify user with invite ID",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["invite_id"],
                "properties": {
                  "invite_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User verified successfully"
          },
          "400": {
            "description": "Invalid or expired invitation"
          },
          "401": {
            "description": "Invalid JWT token"
          },
          "409": {
            "description": "Invitation already used"
          },
          "422": {
            "description": "Email mismatch with JWT"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["User Management"],
        "summary": "User Authentication Check",
        "description": "Get current user details",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "school_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/classrooms": {
      "post": {
        "tags": ["Classroom Management"],
        "summary": "Create Classroom",
        "description": "Create a new classroom (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "class_name"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "class_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Classroom created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Classroom"
                }
              }
            }
          },
          "400": {
            "description": "Invalid school_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "get": {
        "tags": ["Classroom Management"],
        "summary": "Get All Classrooms by School",
        "description": "Get all classrooms for a school (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classrooms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "class_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      },
      "put": {
        "tags": ["Classroom Management"],
        "summary": "Update Classroom",
        "description": "Update classroom details (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "class_id", "class_name"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "class_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "class_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classroom updated successfully"
          },
          "400": {
            "description": "Invalid school_id or class_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Classroom not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "delete": {
        "tags": ["Classroom Management"],
        "summary": "Delete Classroom",
        "description": "Delete a classroom (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "classroom_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classroom deleted successfully"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Classroom not found"
          }
        }
      }
    },
    "/form-templates": {
      "post": {
        "tags": ["Form Templates"],
        "summary": "Create Form Template",
        "description": "Create a new form template (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "form_name"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid school_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "get": {
        "tags": ["Form Templates"],
        "summary": "Get All Form Templates by School",
        "description": "Get all form templates for a school (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      },
      "put": {
        "tags": ["Form Templates"],
        "summary": "Update Form Template",
        "description": "Update form template details (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "school_id"],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_name": {
                    "type": "string"
                  },
                  "form_type": {
                    "type": "string"
                  },
                  "fillout_form_id": {
                    "type": "string"
                  },
                  "fillout_form_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "is_required": {
                    "type": "boolean"
                  },
                  "display_order": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form template updated successfully"
          },
          "400": {
            "description": "Invalid form_id or school_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Form template not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "delete": {
        "tags": ["Form Templates"],
        "summary": "Delete Form Template",
        "description": "Delete a form template (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form template deleted successfully"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Form template not found"
          }
        }
      }
    },
    "/form-templates/by-status": {
      "get": {
        "tags": ["Form Templates"],
        "summary": "Get Form Templates Grouped by Status",
        "description": "Get form templates grouped by their status (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form templates grouped by status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "active": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "archive": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "default": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "available": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/class-form-overrides": {
      "post": {
        "tags": ["Class Form Overrides"],
        "summary": "Create Class Form Override",
        "description": "Create a class-specific form override (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "classroom_id", "form_template_id"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "classroom_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_template_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class form override created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassFormOverride"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Classroom or form template not found"
          },
          "409": {
            "description": "Override already exists"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "delete": {
        "tags": ["Class Form Overrides"],
        "summary": "Delete Class Form Override",
        "description": "Delete a class form override (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class form override deleted successfully"
          },
          "400": {
            "description": "Missing or invalid id parameter"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Override not found"
          }
        }
      }
    },
    "/student-form-assignments": {
      "post": {
        "tags": ["Student Form Assignments"],
        "summary": "Create Student Form Assignment",
        "description": "Assign a form to a student (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "enrollment_id", "child_id", "form_template_id"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "enrollment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "child_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_template_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "assignment_source": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student form assignment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentFormAssignment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "get": {
        "tags": ["Student Form Assignments"],
        "summary": "Get All Student Form Assignments by School",
        "description": "Get all student form assignments for a school (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of student form assignments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentFormAssignment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      },
      "put": {
        "tags": ["Student Form Assignments"],
        "summary": "Update Student Form Assignment",
        "description": "Update student form assignment details (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "school_id"],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "enrollment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "child_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_template_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "assignment_source": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "is_required": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Student form assignment updated successfully"
          },
          "400": {
            "description": "Invalid assignment_id or school_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Assignment not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      },
      "delete": {
        "tags": ["Student Form Assignments"],
        "summary": "Delete Student Form Assignment",
        "description": "Delete a student form assignment (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "assignment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student form assignment deleted successfully"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Assignment not found"
          }
        }
      }
    },
    "/form-submissions/webhook": {
      "post": {
        "tags": ["Form Submissions"],
        "summary": "Create Form Submission (Webhook)",
        "description": "Receive form submission from Fillout webhook",
        "security": [
          {
            "WebhookAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_id": {
                    "type": "string"
                  },
                  "form_id": {
                    "type": "string"
                  },
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "enrollment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "student_form_assignment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "form_data": {
                    "type": "object"
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form submission created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "400": {
            "description": "Invalid submission data"
          },
          "401": {
            "description": "Invalid webhook secret"
          },
          "404": {
            "description": "Student form assignment not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/form-submissions/latest": {
      "get": {
        "tags": ["Form Submissions"],
        "summary": "Get Latest Form Submission",
        "description": "Get the most recent version of a form submission",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "enrollment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "form_template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest form submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "No submission found"
          }
        }
      }
    },
    "/form-submissions/versions": {
      "get": {
        "tags": ["Form Submissions"],
        "summary": "Get All Form Submission Versions",
        "description": "Get version history of form submissions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "enrollment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "form_template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form submission versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormSubmission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "No submissions found"
          }
        }
      }
    },
    "/form-submissions/{submission_id}": {
      "get": {
        "tags": ["Form Submissions"],
        "summary": "Get Form Submission by ID",
        "description": "Get a specific form submission",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form submission details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmission"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/form-submissions/{submission_id}/status": {
      "put": {
        "tags": ["Form Submissions"],
        "summary": "Update Form Submission Status",
        "description": "Update the processing status of a form submission (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processed_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "processing_notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated successfully"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/enrollments/parent-invite": {
      "post": {
        "tags": ["Enrollment Management"],
        "summary": "Parent Invite for Child Enrollment",
        "description": "Create parent invite and child enrollment (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "child_first_name", "child_last_name", "child_birth_date", "gender", "class_id", "parent_email", "parent_first_name", "parent_last_name"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "child_first_name": {
                    "type": "string"
                  },
                  "child_last_name": {
                    "type": "string"
                  },
                  "child_birth_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["male", "female", "other"]
                  },
                  "class_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "parent_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "parent_first_name": {
                    "type": "string"
                  },
                  "parent_last_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Parent invite created successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "School or classroom not found"
          },
          "409": {
            "description": "Parent email already exists"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/enrollments/resend-invitation": {
      "post": {
        "tags": ["Enrollment Management"],
        "summary": "Resend Parent Invitation",
        "description": "Resend invitation email to parent (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["parent_id", "school_id"],
                "properties": {
                  "parent_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation reminder sent successfully"
          },
          "400": {
            "description": "Invalid parent_id or school_id"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Parent not found"
          },
          "409": {
            "description": "Parent already verified"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/enrollments/add-child": {
      "post": {
        "tags": ["Enrollment Management"],
        "summary": "Add Additional Child",
        "description": "Add another child for existing parent (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["school_id", "child_first_name", "child_last_name", "child_birth_date", "gender", "class_id", "parent_id"],
                "properties": {
                  "school_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "child_first_name": {
                    "type": "string"
                  },
                  "child_last_name": {
                    "type": "string"
                  },
                  "child_birth_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["male", "female", "other"]
                  },
                  "class_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "parent_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Additional child added successfully"
          },
          "400": {
            "description": "Invalid request data"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Parent, school or classroom not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/enrollments/school-forms": {
      "get": {
        "tags": ["Enrollment Management"],
        "summary": "Get All Enrollment Form Details by School",
        "description": "Get all enrollment forms for a school (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrollment form details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnrollmentChild"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/enrollments/class-wise-count": {
      "get": {
        "tags": ["Enrollment Management"],
        "summary": "Get Class-wise Child Count Details",
        "description": "Get enrollment counts by classroom (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class-wise enrollment counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "class_id": {
                        "type": "integer"
                      },
                      "class_name": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      },
                      "forms": {
                        "type": "object"
                      },
                      "default_forms": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/enrollments/children-forms": {
      "get": {
        "tags": ["Enrollment Management"],
        "summary": "Get Enrollment Children with Form Assignments",
        "description": "Get children enrolled with their form assignments (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrolled children with form details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnrollmentChild"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/parents/details": {
      "get": {
        "tags": ["Parent Management"],
        "summary": "Get Parent Details by School",
        "description": "Get all primary parents in a school (Protected - School Context)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parent details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "parent_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "parent_email": {
                        "type": "string",
                        "format": "email"
                      },
                      "id_signed": {
                        "type": "boolean"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    },
    "/reports/enrollment-summary": {
      "get": {
        "tags": ["Reports and Analytics"],
        "summary": "School Enrollment Summary Report",
        "description": "Get comprehensive enrollment report (Protected - Admin/SuperAdmin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment summary report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "school_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "school_name": {
                      "type": "string"
                    },
                    "total_children": {
                      "type": "integer"
                    },
                    "total_enrollments": {
                      "type": "integer"
                    },
                    "active_enrollments": {
                      "type": "integer"
                    },
                    "pending_enrollments": {
                      "type": "integer"
                    },
                    "classrooms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classroom_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "classroom_name": {
                            "type": "string"
                          },
                          "capacity": {
                            "type": "integer"
                          },
                          "enrolled_count": {
                            "type": "integer"
                          },
                          "available_spots": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "form_completion_stats": {
                      "type": "object",
                      "properties": {
                        "total_forms_assigned": {
                          "type": "integer"
                        },
                        "completed_forms": {
                          "type": "integer"
                        },
                        "pending_forms": {
                          "type": "integer"
                        },
                        "completion_rate": {
                          "type": "string"
                        }
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid school_id parameter"
          },
          "403": {
            "description": "Access denied to school"
          },
          "404": {
            "description": "School not found"
          }
        }
      }
    }
  }
}