{
  "openapi": "3.0.0",
  "info": {
    "title": "Goddard School Enrollment System API",
    "version": "2.0.0",
    "description": "Comprehensive API for the Goddard School Enrollment and Management System with complete CRUD operations for all entities"
  },
  "servers": [
    {
      "url": "https://api.goddardschool.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:9000",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key for owner operations (test-owner-key-2024)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for user operations"
      },
      "WebhookAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "webhook_secret",
        "description": "Webhook authentication for form submissions"
      }
    },
    "schemas": {
      "School": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "The Goddard School - Downtown"
          },
          "subdomain": {
            "type": "string",
            "example": "downtown-goddard"
          },
          "settings": {
            "type": "object",
            "properties": {
              "timezone": {
                "type": "string",
                "example": "America/New_York"
              },
              "max_enrollment": {
                "type": "integer",
                "example": 200
              },
              "age_groups": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["infant", "toddler", "preschool"]
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSchoolRequest": {
        "type": "object",
        "required": ["name", "subdomain"],
        "properties": {
          "name": {
            "type": "string",
            "example": "The Goddard School - Downtown"
          },
          "subdomain": {
            "type": "string",
            "example": "downtown-goddard"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "UpdateSchoolRequest": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "Classroom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "class_name": {
            "type": "string",
            "example": "Toddler Room A"
          },
          "name": {
            "type": "string",
            "example": "Toddler Room A"
          },
          "age_group": {
            "type": "string",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "enrolled_count": {
            "type": "integer",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateClassroomRequest": {
        "type": "object",
        "required": ["school_id", "class_name"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "class_name": {
            "type": "string"
          }
        }
      },
      "UpdateClassroomRequest": {
        "type": "object",
        "required": ["school_id", "class_id", "class_name"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "class_id": {
            "type": "string",
            "format": "uuid"
          },
          "class_name": {
            "type": "string"
          }
        }
      },
      "FormTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_name": {
            "type": "string",
            "example": "Student Registration Form"
          },
          "form_type": {
            "type": "string",
            "enum": ["school_form"],
            "default": "school_form"
          },
          "fillout_form_id": {
            "type": "string",
            "nullable": true
          },
          "fillout_form_url": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["school_default", "class_override"],
            "default": "school_default"
          },
          "is_required": {
            "type": "boolean",
            "nullable": true
          },
          "display_order": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateFormTemplateRequest": {
        "type": "object",
        "required": ["school_id", "form_name", "fillout_form_id"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_name": {
            "type": "string"
          },
          "fillout_form_id": {
            "type": "string"
          }
        }
      },
      "UpdateFormTemplateRequest": {
        "type": "object",
        "required": ["school_id", "form_id"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_name": {
            "type": "string"
          },
          "fillout_form_id": {
            "type": "string"
          },
          "fillout_form_url": {
            "type": "string"
          },
          "is_required": {
            "type": "boolean"
          },
          "display_order": {
            "type": "integer"
          }
        }
      },
      "ClassFormOverride": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "is_required": {
            "type": "boolean"
          },
          "display_order": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateClassFormOverrideRequest": {
        "type": "object",
        "required": ["school_id", "classroom_id", "form_template_id", "is_required"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "is_required": {
            "type": "boolean"
          },
          "display_order": {
            "type": "integer"
          }
        }
      },
      "StudentFormAssignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "assignment_source": {
            "type": "string",
            "enum": ["manual", "auto_enrollment", "class_override"]
          },
          "status": {
            "type": "string",
            "enum": ["incomplete", "in_progress", "completed"]
          },
          "is_required": {
            "type": "boolean"
          },
          "assigned_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CreateStudentFormAssignmentRequest": {
        "type": "object",
        "required": ["school_id", "enrollment_id", "child_id", "form_template_id", "assignment_source"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "assignment_source": {
            "type": "string",
            "enum": ["manual", "auto_enrollment", "class_override"]
          },
          "status": {
            "type": "string",
            "enum": ["incomplete", "in_progress", "completed"],
            "default": "incomplete"
          },
          "is_required": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "UpdateStudentFormAssignmentRequest": {
        "type": "object",
        "required": ["id", "school_id"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "assignment_source": {
            "type": "string",
            "enum": ["manual", "auto_enrollment", "class_override"]
          },
          "status": {
            "type": "string",
            "enum": ["incomplete", "in_progress", "completed"]
          },
          "is_required": {
            "type": "boolean"
          }
        }
      },
      "FormSubmission": {
        "type": "object",
        "properties": {
          "submission_id": {
            "type": "string",
            "format": "uuid"
          },
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "form_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "fillout_submission_id": {
            "type": "string"
          },
          "submission_data": {
            "type": "object"
          },
          "status": {
            "type": "string",
            "enum": ["submitted", "reviewed", "approved", "rejected"]
          },
          "version": {
            "type": "integer"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormSubmissionWebhookRequest": {
        "type": "object",
        "required": ["submissionId", "formId", "data"],
        "properties": {
          "submissionId": {
            "type": "string"
          },
          "formId": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "UpdateFormSubmissionStatusRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["submitted", "reviewed", "approved", "rejected"]
          },
          "reviewer_notes": {
            "type": "string"
          }
        }
      },
      "ParentInviteRequest": {
        "type": "object",
        "required": ["school_id", "child_full_name", "child_dob", "classroom_id", "parent_email", "parent_first_name", "parent_last_name"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_full_name": {
            "type": "string"
          },
          "child_dob": {
            "type": "string",
            "format": "date"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "parent_email": {
            "type": "string",
            "format": "email"
          },
          "parent_first_name": {
            "type": "string"
          },
          "parent_last_name": {
            "type": "string"
          }
        }
      },
      "AddChildRequest": {
        "type": "object",
        "required": ["school_id", "enrollment_id", "child_full_name", "child_dob", "classroom_id"],
        "properties": {
          "school_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_full_name": {
            "type": "string"
          },
          "child_dob": {
            "type": "string",
            "format": "date"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "EnrollmentChild": {
        "type": "object",
        "properties": {
          "child_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid"
          },
          "child_full_name": {
            "type": "string"
          },
          "child_dob": {
            "type": "string",
            "format": "date"
          },
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "classroom_name": {
            "type": "string"
          },
          "forms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "form_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "form_name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": ["incomplete", "in_progress", "completed"]
                },
                "is_required": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ParentDetails": {
        "type": "object",
        "properties": {
          "parent_id": {
            "type": "string",
            "format": "uuid"
          },
          "parent_email": {
            "type": "string",
            "format": "email"
          },
          "parent_first_name": {
            "type": "string"
          },
          "parent_last_name": {
            "type": "string"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnrollmentChild"
            }
          }
        }
      },
      "ClassWiseCount": {
        "type": "object",
        "properties": {
          "classroom_id": {
            "type": "string",
            "format": "uuid"
          },
          "classroom_name": {
            "type": "string"
          },
          "total_children": {
            "type": "integer"
          }
        }
      },
      "EnrollmentSummary": {
        "type": "object",
        "properties": {
          "total_enrollments": {
            "type": "integer"
          },
          "total_children": {
            "type": "integer"
          },
          "pending_forms": {
            "type": "integer"
          },
          "completed_forms": {
            "type": "integer"
          },
          "classroom_breakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassWiseCount"
            }
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "paths": {
    "/schools": {
      "get": {
        "summary": "Get all schools",
        "description": "Retrieve a list of all active schools (public endpoint)",
        "tags": ["Schools"],
        "responses": {
          "200": {
            "description": "List of schools",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/ApiResponse"},
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {"type": "string", "format": "uuid"},
                              "name": {"type": "string"},
                              "subdomain": {"type": "string"}
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new school",
        "description": "Create a new school (requires API key)",
        "tags": ["Schools"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateSchoolRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "School created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/ApiResponse"},
                    {
                      "properties": {
                        "data": {"$ref": "#/components/schemas/School"}
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a school",
        "description": "Update an existing school (requires API key)",
        "tags": ["Schools"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateSchoolRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "School updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/ApiResponse"},
                    {
                      "properties": {
                        "data": {"$ref": "#/components/schemas/School"}
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {"description": "Invalid school_id"},
          "401": {"description": "Invalid API key"},
          "404": {"description": "School not found"},
          "422": {"description": "Validation errors"}
        }
      }
    },
    "/schools/{id}": {
      "delete": {
        "summary": "Delete a school",
        "description": "Soft delete a school (requires API key)",
        "tags": ["Schools"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "School deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "school_id": {"type": "string", "format": "uuid"}
                  }
                }
              }
            }
          },
          "400": {"description": "Invalid school_id"},
          "401": {"description": "Invalid API key"},
          "404": {"description": "School not found"}
        }
      }
    },
    "/classrooms": {
      "get": {
        "summary": "Get classrooms by school",
        "description": "Retrieve all classrooms for a specific school",
        "tags": ["Classrooms"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classrooms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {"type": "string", "format": "uuid"},
                      "class_name": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "400": {"description": "Missing or invalid school_id parameter"},
          "403": {"description": "Access denied to school"},
          "404": {"description": "School not found"}
        }
      },
      "post": {
        "summary": "Create a classroom",
        "description": "Create a new classroom",
        "tags": ["Classrooms"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateClassroomRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Classroom created successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Classroom"}
              }
            }
          },
          "400": {"description": "Invalid school_id"},
          "403": {"description": "Insufficient permissions"},
          "422": {"description": "Validation errors"}
        }
      },
      "put": {
        "summary": "Update a classroom",
        "description": "Update an existing classroom",
        "tags": ["Classrooms"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateClassroomRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classroom updated successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Classroom"}
              }
            }
          },
          "400": {"description": "Invalid school_id or class_id"},
          "403": {"description": "Insufficient permissions"},
          "404": {"description": "Classroom not found"},
          "422": {"description": "Validation errors"}
        }
      },
      "delete": {
        "summary": "Delete a classroom",
        "description": "Soft delete a classroom",
        "tags": ["Classrooms"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "classroom_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classroom deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "classroom_id": {"type": "string", "format": "uuid"},
                    "school_id": {"type": "string", "format": "uuid"}
                  }
                }
              }
            }
          },
          "400": {"description": "Missing or invalid parameters"},
          "403": {"description": "Insufficient permissions"},
          "404": {"description": "Classroom not found"}
        }
      }
    },
    "/form-templates": {
      "get": {
        "summary": "Get form templates by school",
        "description": "Retrieve all form templates for a specific school",
        "tags": ["Form Templates"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FormTemplate"}
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a form template",
        "description": "Create a new form template",
        "tags": ["Form Templates"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateFormTemplateRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form template created successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FormTemplate"}
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a form template",
        "description": "Update an existing form template",
        "tags": ["Form Templates"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateFormTemplateRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form template updated successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FormTemplate"}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a form template",
        "description": "Soft delete a form template",
        "tags": ["Form Templates"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form template deleted successfully"
          }
        }
      }
    },
    "/form-templates/by-status": {
      "get": {
        "summary": "Get form templates by status",
        "description": "Retrieve form templates filtered by status",
        "tags": ["Form Templates"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["school_default", "class_override"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form templates by status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FormTemplate"}
                }
              }
            }
          }
        }
      }
    },
    "/class-form-overrides": {
      "post": {
        "summary": "Create a class form override",
        "description": "Create a form override for a specific class",
        "tags": ["Class Form Overrides"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateClassFormOverrideRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class form override created successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClassFormOverride"}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a class form override",
        "description": "Delete a class form override",
        "tags": ["Class Form Overrides"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class form override deleted successfully"
          }
        }
      }
    },
    "/student-form-assignments": {
      "get": {
        "summary": "Get student form assignments by school",
        "description": "Retrieve all form assignments for a specific school",
        "tags": ["Student Form Assignments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of student form assignments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/StudentFormAssignment"}
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a student form assignment",
        "description": "Create a new form assignment for a student",
        "tags": ["Student Form Assignments"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateStudentFormAssignmentRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student form assignment created successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/StudentFormAssignment"}
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a student form assignment",
        "description": "Update an existing form assignment",
        "tags": ["Student Form Assignments"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateStudentFormAssignmentRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Student form assignment updated successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/StudentFormAssignment"}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a student form assignment",
        "description": "Soft delete a form assignment",
        "tags": ["Student Form Assignments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "assignment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student form assignment deleted successfully"
          }
        }
      }
    },
    "/form-submissions/webhook": {
      "post": {
        "summary": "Form submission webhook",
        "description": "Webhook endpoint for form submissions from external form provider",
        "tags": ["Form Submissions"],
        "security": [{"WebhookAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/FormSubmissionWebhookRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          }
        }
      }
    },
    "/form-submissions/latest": {
      "get": {
        "summary": "Get latest form submission",
        "description": "Get the latest submission for a specific form and enrollment",
        "tags": ["Form Submissions"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "enrollment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "form_template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest form submission",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FormSubmission"}
              }
            }
          }
        }
      }
    },
    "/form-submissions/versions": {
      "get": {
        "summary": "Get form submission versions",
        "description": "Get all versions of submissions for a specific form and enrollment",
        "tags": ["Form Submissions"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "enrollment_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "form_template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form submission versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FormSubmission"}
                }
              }
            }
          }
        }
      }
    },
    "/form-submissions/{submission_id}": {
      "get": {
        "summary": "Get form submission by ID",
        "description": "Get a specific form submission by its ID",
        "tags": ["Form Submissions"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form submission details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/FormSubmission"}
              }
            }
          }
        }
      }
    },
    "/form-submissions/{submission_id}/status": {
      "put": {
        "summary": "Update form submission status",
        "description": "Update the review status of a form submission",
        "tags": ["Form Submissions"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateFormSubmissionStatusRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form submission status updated successfully"
          }
        }
      }
    },
    "/enrollments/parent-invite": {
      "post": {
        "summary": "Create parent invitation",
        "description": "Create a new parent invitation and enrollment",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ParentInviteRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Parent invitation created successfully"
          }
        }
      }
    },
    "/enrollments/resend-confirmation": {
      "post": {
        "summary": "Resend parent confirmation",
        "description": "Resend confirmation email to parent",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["parent_email"],
                "properties": {
                  "parent_email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation email sent successfully"
          }
        }
      }
    },
    "/enrollments/add-child": {
      "post": {
        "summary": "Add child to enrollment",
        "description": "Add a child to an existing enrollment",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/AddChildRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Child added successfully"
          }
        }
      }
    },
    "/enrollments/school-forms": {
      "get": {
        "summary": "Get school forms",
        "description": "Get all forms available for a school",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of school forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/FormTemplate"}
                }
              }
            }
          }
        }
      }
    },
    "/enrollments/class-wise-count": {
      "get": {
        "summary": "Get class-wise child count",
        "description": "Get child count breakdown by classroom",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Class-wise child count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/ClassWiseCount"}
                }
              }
            }
          }
        }
      }
    },
    "/enrollments/children-forms": {
      "get": {
        "summary": "Get enrollment children with forms",
        "description": "Get all children for an enrollment with their assigned forms",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "enrollment_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of children with their forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/EnrollmentChild"}
                }
              }
            }
          }
        }
      }
    },
    "/parents/details": {
      "get": {
        "summary": "Get parent details by school",
        "description": "Get all parent details for a school",
        "tags": ["Enrollments"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parent details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/ParentDetails"}
                }
              }
            }
          }
        }
      }
    },
    "/reports/enrollment-summary": {
      "get": {
        "summary": "Get enrollment summary report",
        "description": "Get comprehensive enrollment summary and statistics",
        "tags": ["Reports"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "school_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment summary report",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/EnrollmentSummary"}
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check API health status",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/ApiResponse"},
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "status": {"type": "string", "example": "healthy"},
                            "service": {"type": "string", "example": "goddard-backend-lambda"},
                            "version": {"type": "string", "example": "0.1.0"},
                            "uptime": {"type": "string"}
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Schools",
      "description": "School management operations"
    },
    {
      "name": "Classrooms",
      "description": "Classroom management operations"
    },
    {
      "name": "Form Templates",
      "description": "Form template management operations"
    },
    {
      "name": "Class Form Overrides",
      "description": "Class-specific form override operations"
    },
    {
      "name": "Student Form Assignments",
      "description": "Student form assignment management operations"
    },
    {
      "name": "Form Submissions",
      "description": "Form submission and version control operations"
    },
    {
      "name": "Enrollments",
      "description": "Enrollment and child management operations"
    },
    {
      "name": "Reports",
      "description": "Analytics and reporting operations"
    },
    {
      "name": "System",
      "description": "System health and monitoring operations"
    }
  ]
}